/**
 * Admin styles for all admin pages
 *
 */


/*-------------------------------------------------------------------------------------------*/
/* Custom News Styling
/*-------------------------------------------------------------------------------------------*/
.custom-news table tbody tr:nth-child(2n+2) {
  background-color: #EBEBEB;
}

.custom-news table tbody .news-text {
	padding-right: 35px;
}

.custom-news table tbody .mark-button {
	padding: 8px 0px;
}

/*-------------------------------------------------------------------------------------------*/
/* Post Formats
/*-------------------------------------------------------------------------------------------*/
.postbox-container div[id^="postformats_"] { display: none; }

/*-------------------------------------------------------------------------------------------*/
/* Customizer
/*-------------------------------------------------------------------------------------------*/
body.wp-customizer .attachment-media-view-image .thumbnail-image {
	text-align: center;
}
body.wp-customizer .attachment-media-view-image .thumbnail-image img {
	width: auto;
}